.Image {
    position: absolute;
    height: 400px;
    width: 400px;
}
.fade-enter {
    opacity: 0.01;
    transition: opacity 0.5s ease-in;
}
.fade-enter.fade-enter-active {
    opacity: 1;
}
.fade-leave {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}
.fade-leave.fade-leave-active {
    opacity: 0;
}
.link-active {
    color: #bbbbbb;
    text-decoration: none;
}